@model Cesgranrio.CorretorDeProvas.Web.Models.QuestaoVM

@using X.PagedList
@using X.PagedList.Mvc


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Questão N&ordm;</th>
            <th>Enunciado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Questao item in Model.Lista)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.QuestaoNumero)
                </th>
                <td>
                    @Html.ActionLink(item.QuestaoEnunciado, "Editar", new { @id = item.QuestaoID })
                </td>
                <td>
                    @Html.ActionLink("Remover", "Remover", new { @id = item.QuestaoID }, htmlAttributes: new { @class = "text-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- paginador ajax -->
@Html.PagedListPager(Model.Lista, page => Url.Action("Listar", new { page = page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions(),
            new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "tabelaQuestoes",
                InsertionMode = InsertionMode.Replace
            }
        )
)

<!--renderiza os javascripts minimizados -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
