@model Cesgranrio.CorretorDeProvas.Web.Models.QuestaoVM

@{
    ViewBag.Title = "Remover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">

                <h4 class="title">Remover questão</h4>
                <p class="category">Tem certeza que deseja remover esta questão?</p>

            </div>
            <div class="content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.QuestaoNumero)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.QuestaoNumero, htmlAttributes: new { @class = "form-control numero", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.QuestaoEnunciado)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.QuestaoEnunciado, htmlAttributes: new { @class = "form-control", @disabled = "disabled" } )
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.QuestaoGradeFidelidadeAoTema)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.QuestaoGradeFidelidadeAoTema, htmlAttributes: new { @class = "form-control grade", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.QuestaoGradeOrganizacaoIdeias)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.QuestaoGradeOrganizacaoIdeias, htmlAttributes: new { @class = "form-control grade", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.QuestaoGradeNivelDeLinguagem)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.QuestaoGradeNivelDeLinguagem, htmlAttributes: new { @class = "form-control grade", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.QuestaoGradeDominioDasRegras)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb">
                            @Html.TextBoxFor(model => model.QuestaoGradeDominioDasRegras, htmlAttributes: new { @class = "form-control grade", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Remover" class="btn btn-danger btn-lg mb" />
                                    
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>