@model Cesgranrio.CorretorDeProvas.Web.Models.QuestaoVM

@{
    ViewBag.Title = "Remover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remover questão</h2>

<h3>Tem certeza que deseja remover esta questão?</h3>
<div>
    <h4>Questão</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestaoNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestaoNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestaoEnunciado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestaoEnunciado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestaoGradeFidelidadeAoTema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestaoGradeFidelidadeAoTema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestaoGradeOrganizacaoIdeias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestaoGradeOrganizacaoIdeias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestaoGradeNivelDeLinguagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestaoGradeNivelDeLinguagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestaoGradeDominioDasRegras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestaoGradeDominioDasRegras)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-danger btn-lg" />  
            @Html.ActionLink("Voltar às questões", "Lista", "Questao",
                new { @class = "ml" })
        </div>
    }
</div>
