@{
    var cpf = Session.Ler<string>("CPF");
    
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Corretor de Provas Online</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Delius" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/Content/tema/sidebar-2.jpg">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        Corretor de provas
                    </a>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href="/Questao/Lista">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <p>Questões</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Resposta/SimularRespostas">
                            <i class="glyphicon glyphicon-flash"></i>
                            <p>Simular respostas</p>
                        </a>
                    </li>
                    <li>
                        <a href="/Resposta/CorrigirRespostas">
                            <i class="glyphicon glyphicon-edit"></i>
                            <p>Corrigir questões</p>
                        </a>
                    </li>
                    
                
                </ul>
            </div>
        </div>

        <div class="main-panel">

            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">@Html.Raw(ViewBag.Title)</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        

                    @using (Html.BeginForm("Logout", "Usuario", FormMethod.Post, new { @id = "sessao" }))
                    {
                        /*evitamos cross site request forgery*/
                        @Html.AntiForgeryToken();

                        <ul class="nav navbar-nav navbar-right">
                        @if (cpf == null)
                        {
                            <li>@Html.ActionLink("Entrar", "Login", "Usuario")</li>
                        }
                        else
                        {
                            <li>
                                <span>Bem-vindo <strong class="texto">@Html.Raw(cpf.FormatarCPF())</strong></span>
                            </li>
                            <li>
                                <a href="javascript:" onclick="$('#sessao').submit();">Sair</a>
                            </li>
                        }
                        
                        </ul>
                    }
                    </div>
                </div>
            </nav>

            <div class="content">
                @RenderBody()
            </div>
        
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="/Questao/Lista"><i class="glyphicon glyphicon-chevron-left"></i> Voltar à lista de questões</a>


                            </li>
                            
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; 2017 <a href="http://about.me/juniormayhe">Wanderley Mayhé Junior</a>
                    </p>
                </div>
            </footer>


        </div><!--main panel-->
    </div><!--wrapper-->


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
