@model Cesgranrio.CorretorDeProvas.Web.Models.RespostaVM

@{
    ViewBag.Title = "Corrigir resposta";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

@using (Html.BeginForm())
{
    /*evitamos cross site request forgery*/
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="header">

                    <h4 class="title">Corrigir resposta</h4>
                    <p class="category">Dê as notas para a resposta abaixo</p>

                </div>
                <div class="content">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.RespostaID)
                    
                    @Html.HiddenFor(model => model.RespostaControleVersao)
                    
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                @Html.LabelFor(model => model.QuestaoID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Questao.QuestaoEnunciado, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.QuestaoID)
                                    @Html.HiddenFor(model => model.Questao.QuestaoEnunciado)
                                    @Html.ValidationMessageFor(model => model.QuestaoID, "", new { @class = "text-danger" })

                                    
                                    <h5>Grade de correção</h5>
                                    <ul>
                                        
                                        <li>Fidelidade ao tema: @Html.Raw(Model.Questao.QuestaoGradeFidelidadeAoTema.ToString("N2"))</li>
                                        <li>Organizacao de ideias: @Html.Raw(Model.Questao.QuestaoGradeOrganizacaoIdeias.ToString("N2"))</li>
                                        <li>Nivel de Linguagem: @Html.Raw(Model.Questao.QuestaoGradeNivelDeLinguagem.ToString("N2"))</li>
                                        <li>Domínio das regras: @Html.Raw(Model.Questao.QuestaoGradeDominioDasRegras.ToString("N2"))</li>
                                        <li><hr /><strong>Total: @Html.Raw(Model.Questao.QuestaoGradeDominioDasRegras + Model.Questao.QuestaoGradeFidelidadeAoTema + Model.Questao.QuestaoGradeNivelDeLinguagem + Model.Questao.QuestaoGradeOrganizacaoIdeias) pontos</strong></li>
                                    </ul>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                @Html.LabelFor(model => model.UsuarioID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Usuario.UsuarioCPF, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.UsuarioID)
                                    @Html.HiddenFor(model => model.Usuario.UsuarioCPF)
                                    @Html.ValidationMessageFor(model => model.UsuarioID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                @Html.LabelFor(model => model.CandidatoID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Candidato.CandidatoNome, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.CandidatoID)
                                    @Html.HiddenFor(model => model.Candidato.CandidatoNome)
                                    @Html.ValidationMessageFor(model => model.CandidatoID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                @Html.LabelFor(model => model.RespostaGradeFidelidadeAoTema, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RespostaGradeFidelidadeAoTema, new { htmlAttributes = new { @class = "form-control grade" } })
                                    @Html.ValidationMessageFor(model => model.RespostaGradeFidelidadeAoTema, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                @Html.LabelFor(model => model.RespostaGradeOrganizacaoIdeias, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RespostaGradeOrganizacaoIdeias, new { htmlAttributes = new { @class = "form-control grade" } })
                                    @Html.ValidationMessageFor(model => model.RespostaGradeOrganizacaoIdeias, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                @Html.LabelFor(model => model.RespostaGradeNivelDeLinguagem, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RespostaGradeNivelDeLinguagem, new { htmlAttributes = new { @class = "form-control grade" } })
                                    @Html.ValidationMessageFor(model => model.RespostaGradeNivelDeLinguagem, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                @Html.LabelFor(model => model.RespostaGradeDominioDasRegras, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RespostaGradeDominioDasRegras, new { htmlAttributes = new { @class = "form-control grade" } })
                                    @Html.ValidationMessageFor(model => model.RespostaGradeDominioDasRegras, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 salvar">
                                    <input type="submit" value="Confirmar notas" class="btn btn-primary btn-lg mb" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                
                <div class="content">
                    <a href="data:image/jpg;base64,@Convert.ToBase64String(Model.RespostaImagem)" alt="Imagem da resposta" data-lightbox="image-@i++" data-title="Mostrar resposta gerada pelo simulador"><img src="data:image/jpg;base64,@Convert.ToBase64String(Model.RespostaImagem)" alt="" width="100%" /></a>
                    <br />
                    <p class="category text-center">Obs: esta imagem foi gerada num Simulador</p>
                </div>
            </div>
        </div>
    </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
